.container-fluid{
	height: auto;
}
// box1
.container-fluid{
	height: auto;
	@background: #F5F5F5;
	.khung{
		width: 100%;
		height: auto;
		.content{
			width: 100%;
			float: left;
			background: #012231;
			.checkicon{
				float: left;
				background: #012231;
				font-size: 15px;
				.fa-phone{
					margin-top: 10px;
					margin-left: 10%;
					color: gray;
					&:hover{
						color: white;
					}
				}
				.fa-envelope{
					color: gray;
					margin-left: 1%;
					&:hover{
						color: white;
					}
				}
				.icon1{
					margin-top: 5px;
					float: right;
					color: white;
					margin-right: 15px;
					.fa{
						font-size: 17px;
						padding-top: 8px;
						padding-left: 5px;
					}
					a{
						color: white;
					}
					.fab {
						margin: 5px;
					}
					.fas{
						margin: 5px;
					}
					.fa-facebook-square{
						&:hover{
							color: blue;
						}
					}
					.fa-vimeo{
						&:hover{
							color: #3CFF00;
						}
					}
					.fa-twitter{
						&:hover{
							color: #41f4c4;
						}
					}
					.fa-user-circle-o{
						&:hover{
							color: blue;
						}
					}
					.fa-google-plus{
						&:hover{
							color: red;
						}
					}
					.fa-comment{
						&:hover{
							color: #a8C300FF;
						}
					}
					.fa-github{
						&:hover{
							color: #929bd1;
						}
					}
					.fa-instagram{
						&:hover{
							color: #FF5900	;
						}
					}
					.fa-wifi{
						&:hover{
							color:#46B8B5	;
						}
					}				
				}
				.icon2{
					float: right;
					width: 35px;
					height: 35px;
					background: #012231;
					border: 1px solid white;
					border-radius: 50%;
					margin-right: 10%;
					padding-top: 5px;
					color: white;
					.fa-search{
						padding-left: 10px;
						color: white;
						&:hover{
							color: blue;
						}
					}
					@media screen and( max-width: 480px){
						margin-top: 7%;
					}
					@media screen and( max-width: 768px){
						margin-top: 0%;
					}
					.fas{
						color: white;
						padding: 9px;
						&:hover{
							color: #7aa8d6;
						}
					}
				}
				hr{
					width: 80%;
					background: white;
					@media screen and (max-width: 768px) {
						margin-top: 10%;				
					}
				}
			}
			.checkmenu{
				float: left;
				background: #012231;
				img{	
					margin-left: 9%;
					float: left;
					width: 200px;
					height: 60px;
					@media screen and (max-width: 1024px){
						width: 180px;
					}
					.bynow not:hover{
						background: white;
					}
				}
				ul{
					margin-left: 10%;
					li{
						padding-left: 20px;
						a{
							color: white;
							font-size: 16px;
							&:hover{
								display: block;
								background: white;
								text-align: center;
								color: black;
							}
						}
					}
				}
				@media screen and (max-width: 1024px){
					ul{
						margin-left: 2%;
						li{
							padding-left: 10px;
						}
					}
				}
			}
			.slide-show{
				background: black;
				float: left;
				margin: 0;
				a{
					width: 40px;
					height: 40px;
					background: gray;
					margin-top: 20%;
					border-radius: 20px;
				}
				li{
					width: 10px;
					height: 10px;
					background: #42f4d9;
				}
				.carousel-inner{
					.carousel-item{			
					}
					img{
						opacity: 0.6;
					}
				}
				.carousel-caption{
					h5{
						color: white;
						font-family: arial;
						font-size: 35px;
						@media screen and (max-width: 768px){
							font-size: 15px;
						}
					}	
					p{
						color: white;
						margin-top: 2%;
						font-family: arial;
						font-size: 15px;
						@media screen and (max-width: 768px){
							font-size: 8px;
						}
					}
					button{
						margin-top: 2%;
						margin-bottom: 20%;
						border: 2px solid white;
						color: white;
						
						@media screen and (max-width: 768px){
							margin-bottom: 5%;
						}
						&:hover{
							background: #42f4d9;
						}
					}	
				}
			}
		}
		.nd{
			float: left;
			background: @background;
			a{
				margin-left: 37%;
				margin-top: 3%;
				color: blue;
				font-size: 50px;
				font-family: times;
			@media screen and( max-width: 760px){
				font-size: 30px;
				margin-left: 23%;
			}
				&:hover{
					text-decoration: none;
				}
			}
		}
		.body-card{
			float: left;
			background: @background;
			height: 250px;
			.card{
				float: left;
				height: 100%;
				background: @background;
					border:none;
				.card1{
					background: @background;
					width: 100%;
					height: 100%;
					float: left;
					text-align: center;

					
					.pic{
						margin-top: 10px;
					}
					h3{
						padding-top: 20px;
					}
					p{
						font-weight: 500;
						opacity: 0.6;
					}
				}
			}
		}
	}
}
//---hetbox1
//---box2
@max: 100%;
.container-fluid{
	.box2-des{
		background-image: url(anh/box2-bg.jpg);
		height: 460px;
		width: @max;
		.box-anh{
			float: left;
			width: 23.5%;
			height: 220px;
			// background: blue;
			margin-left: 7.5%;
			@media all and(max-width: 480px){
				height: 30px;
			}
			img{
				float: left;
				width: @max;
				height: @max;
				transition: ease-in-out 0.1s;
				&:hover{
				transform: scale(1.2);
				}
			}
		}
		h4{
			display: block;
			margin: 30px auto;
			width: 20%;
			height: 50px;
			line-height: 50px;
			text-align: center;
			color: white;
			border-bottom: 1.5px solid gray;
			}
		hr{
			margin-top: -33px;
			width: 7.5%;
			border: 1px solid blue;
		}
		h6{
			text-align: center;
			color: white;
			margin-bottom: 40px;
		}
		
	}
	.box2-pack{
		height: 490px;
		width: @max;
		background: white;
		.box2-khung{
			height: auto;
			width: 90%;
			margin: 0 auto;
			margin-bottom: 30px;
			// border: 1px solid black;
		}
		.box2-1{
			float: left;
			height: 350px;
			width: 21%;
			margin-top: 25px;
			margin-left: 38px;
			border: 1px solid #ddd;
			text-align: center;
			&:hover{
				box-shadow: 2px 2px 2px lightgray;
			}
			.sao{
				margin: 0 auto;
				width: 26%;
				height: 17px;
				margin-bottom: 15px;
				img{
					float: left;
					width: 12px;
					height: 12px;
				}
			}
			img{
				float: left;
				width: @max;
				height: 65%;
				margin-bottom: 10px;
			}
			a{
				text-decoration: none;
				font-size: 13px;
				font-weight: bold;
				color: black;
			}
			h5{
				display: block;
				height: 30px;
				width: 55%;
				// background: red;
				text-align: center;
				color: #1e73be;
				float: left;
			}
			.h55{
				display: block;
				height: auto;
				width: 55%;
				text-align: center;
				color: #1e73be;
				float: left;
				margin-left: 25%;
			}
			h6{
				display: block;
				height: auto;
				width: 20%;
				// background: blue;
				color: #1e73be;
				float: left;
				text-decoration: line-through;
			}
		}
		.box2-2{
			.box2-1;
			height: 337px;
			position: relative;
			&:hover .sale{
				display: none;
			}
			.sale{
				width: 20%;
				height: 15%;
				position: absolute;
				left: 0;
			}
		}
		.box2-3{
			.box2-1;
			height: 320px;
		}
		.box2-4{
			.box2-1;
			height: 337px;
			position: relative;
			&:hover .sale{
				display: none;
			}
			.sale{
				width: 20%;
				height: 15%;
				position: absolute;
				left: 0;
			}
		}
		h4{
			display: block;
			margin: auto;
			width: 22%;
			height: 50px;
			line-height: 50px;
			text-align: center;
			color: black;
			border-bottom: 1.5px solid gray;
			}
		hr{
			margin-top: -3px;
			width: 7.5%;
			border: 1px solid blue;
		}
	}
}
//---hetbox2
//---box3
//---hetbox3
//---box4
//---hetbox4
		//------meida
//---box1
//---hetbox1
//---box2
@media all and (max-width: 1024px){
		.box2-des{
			height: 400px;
			.box-anh{
				height: 150px;
			}
			h4{
				width: @max;
			}
		}
		.box2-pack{
			height: 770px;
			h4{
				width: @max;
			}
			.respon{
				width: @max;
				height: auto;
				background: red;
			}
			.box2-1{
			width: 37%;
			height: 310px;
			margin-left: 11%;
				}
			.box2-2{
				width: 37%;
				height: 310px;
				}
			.box2-3{
				width: 37%;
				height: 310px;
				margin-left: 11%;
				}
			.box2-4{
				width: 37%;
				height: 310px;
				}
		}		
	}
	@media all and(max-width: 480px){
		.box2-des{
			height: 320px;
			.box-anh{
				height: 25%;
			}
			.sao{
				img{
					width: 5px;
				}
			}
		}
		.box2-pack{
			height: 550px;
			.box2-khung{
				// height: 560px;
				h6{
					visibility: hidden;
				}
			}
			.box2-1{
				height: 200px;
				margin-left: 8%;
				.sao{
				display: none;					
				}
				img{
					width: @max;
					height: 50%;
				}
			}
			.box2-2{
				height: 200px;
				.sao{
				display: none;					
				}
				img{
					width: @max;
					height: 50%;
				}
			}
			.box2-3{
				height: 200px;
				margin-left: 8%;
				.sao{
				display: none;					
				}
				img{
					width: @max;
					height: 50%;
				}
			}
			.box2-4{
				height: 200px;
				.sao{
				display: none;					
				}
				img{
					width: @max;
					height: 50%;
				}
			}
		}
	}
	@media all and(max-width: 320px){
		.box2-pack{
			height: 980px;
			.box2-khung{
				.box2-1{
					margin-left: 15%;
					width: 70%;
				}
				.box2-2{
					margin-left: 15%;
					width: 70%;
				}
				.box2-3{
					margin-left: 15%;
					width: 70%;
				}
				.box2-4{
					margin-left: 15%;
					width: 70%;
				}
			}
		}
	}
//---hetbox2
//---box3
//---hetbox3
//---box4
//---hetbox4